{% extends 'base.html' %}

{% block content %}
    <div class="hero">
        <div class="overlay">
            {% if not user.is_authenticated %}
            <h2>Welcome</h2>
            <p>Track your workouts. Stay consistent. See your progress.</p>
            <form action="{% url 'home' %}" method="post" class="login">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next}}">
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
          {% else %}
            <h2>Welcome back, {{ user.username }}</h2>
            <p><a href="{% url 'workout_list' %}">View All Workouts</a></p>
          {% endif %}
          </div>
        </div>
{% endblock %}