{% extends 'base.html' %}

<!DOCTYPE html>
{% block content %}
<html>
<head>
    {% load static %}
    <title>Delete Exercise</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>




<body>
    <h1>Delete Exercise</h1>

    <p>Are you sure you want to delete <strong>{{ exercise.name }}</strong> ({{ exercise.category }})?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Yes delete</button>
        <a href="{% url 'workout_detail' exercise.workout.id %}">Cancel</a>
    </form>
</body>
</html>
{% block content %}