<!DOCTYPE html>
<html>
<head>
    <title>{{ workout.name }}</title>
</head>
<body>
    <h1>{{ workout.name }}</h1>
    <p><strong>Date:</strong> {{ workout.date}}</p>
    <p><strong>Duration:</strong> {{ workout.duration}} minutes</p>
    <p><strong>Notes:</strong> {{ workout.notes|default:"No notes."}}</p>

    <h2>Exercises</h2>
    <ul>
        {% for exercise in workout.exercises.all %}

            <li>
                <strong>{{ exercise.name }}</strong>
                ({{ exercise.category }}) – {{ exercise.sets }} sets × {{ exercise.reps }} reps
                {% if exercise.weight %}
                    - {{ exercise.weight }} lbs
                {% endif %}
                <a href="{% url 'exercise_update' exercise.id %}">Edit</a> |
                <a href="{% url 'exercise_delete' exercise.id %}">Delete</a>
            </li>
         {% empty %}
            <li>No exercises added yet.</li>
         {% endfor %}
    </ul>
    <p><a href="{% url 'exercise_create' workout.id %}">Add Exercise</a></p>
    <p><a href="{% url 'workout_list' %}">Back to all workouts</a></p>
    <p><a href="{% url 'workout_update' workout.id %}">Edit this workout</a> | 
    <a href="{% url 'workout_delete' workout.id %}">Delete</a></p>
</body>
</html>